@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
  @apply w-40 h-full rounded-2xl bg-center bg-cover transition-all;
}

.con1:hover {
  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #111827),
    url('../assets/dami-adebayo-k6aQzmIbR1s-unsplash.jpg');
}

.con2:hover {
  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #111827),
    url('../assets/freestocks-_3Q3tsJ01nc-unsplash.jpg');
}

.con3:hover {
  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #111827),
    url('../assets/jon-ly-Xn7GvimQrk8-unsplash.jpg');
}

.card-container:hover {
  @apply w-60;
}

.card-hitbox {
  @apply h-80 w-40 relative;
}

.card-passive {
  @apply group-hover:hidden h-20 bg-gray-900 w-3/4 absolute bottom-10 left-0;
}

.card-active {
  @apply w-0 h-0 group-hover:w-60 group-hover:h-full hidden group-hover:flex relative rounded-2xl;
}

/* .card-active:hover {
  @apply w-60;
} */

/* @screen md {
  .btn {
    @apply inline-block;
  }
} */